@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
  background: url("./backG.png");
  background-repeat: no-repeat;
  background-color: black;
  display: flex;
  padding-left: 8%;
  padding-right: 8%;
  flex-direction: column;
  height: 200vh;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg,rgb(255, 225, 0),rgb(255, 213, 0),rgb(242, 255, 0)); 
}

.nav-items {
  width: 84%;
  position: fixed;
  display: flex;
  font-family: 'Carrois Gothic';
  color: rgb(255, 217, 0);
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  padding-top: 2%;
}

.logo{
  width: 8em;
}
.main{
  color:rgb(255, 217, 0);
}

.nav-tabs {
  cursor: pointer;
  display: flex;
  gap: 2rem;
}

:root {
  --clr-neon: rgb(255, 217, 0);
  --clr-bg: hsl(323 21% 16%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: var(--clr-bg);
  font-family: "Balsamiq Sans", cursive;
  color: var(--clr-neon);
  padding-right: 10rem;
} */

.neon-button {
  font-size: 1rem;

  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  padding: 0.25em 1em;
  border-radius: 0.25em;
  position: relative;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 90%;
  left: 10%;
  width: 80%;
  height: 60%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  border-radius: 0.25em;
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}

.bodyhead{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 45%;
}

.bodyBlock1{
  cursor: pointer;
  margin-top: 70px;
  display: flex;
  width: 70%;
  text-transform: uppercase;
  font-family: 'Carrois Gothic';
  background-size: cover;
  color: rgb(255, 217, 0);
  justify-content: center;
  align-items: center;
}

.bHead{ 
  letter-spacing: 2PX;
  font-weight: bolder;
  border-radius: 10px;
  background-color:rgba(0, 0, 0, 0.521);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60em;
  height: 15rem;
  text-align: center;
  font-size: 8vh;
}

.hText{
  display: grid;
  font-size: xx-large;
}

.hButton{
  padding: 10px;
  border-radius: 10px;
  background:linear-gradient(90deg,rgb(3, 96, 158),rgb(2, 196, 196));
  color: white;
  font-size: 4vh;
  font-weight: bold;
  border: none;
}
.hButton:active{
  transition: all 0.5s ease 0s;
  opacity: 0.4;
}
